:root {
  --primary-color: #1d3557;
  --secondary-color: #66bfbf;
  --highlight-color: #ff44bd;
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: var(--heading-font-family);
  color: var(--primary-color);
}

h1 {
  font-size: 80px;
}

body {
  font-family: var(--default-font-family);
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 120px 20px;
}

.hero p {
  font-size: 36px;
}

.about-section {
  padding: 120px 20px;
}

.about-section h1 {
  font-size: 60px;
}

.btn-primary {
  background-color: var(--highlight-color);
  padding: 10px 25px;
  border-radius: 20px;
  color: white;
  font-family: var(--heading-font-family);
  font-size: 18px;
}

.btn-primary:hover {
  background-color: var(--primary-color);
  color: white;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 20px;

  font-family: var(--heading-font-family);
  padding: 5px 15px;
  font-size: 12px;
}

.btn-outline:hover {
  background-color: var(--secondary-color);
  color: black;
  border-color: var(--secondary-color);
}

.profile-image {
  border-radius: 200px;
  border: 2px solid var(--secondary-color);
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  h1 {
    font-size: 48px;
  }

  .about-section {
    text-align: center;
  }

  .profile-image {
    margin-top: 20px;
  }

  .hero p {
    font-size: 24px;
    padding: 30px 10px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-text {
    font-size: 14px;
  }
}
